.items {
  width: 100dvw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: bottom;
  background-color: aliceblue;

  .items_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); // 3 columns
      grid-gap: 40px;
      column-gap: 100px;
      margin-top: 20px;
    }
  }
}
