.services{
    width: 100dvw;
    height: 30vh;

    @media (max-width:600px) {
        height: 45vh;
    }

    .services_wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width:600px) {
            transform: scale(.7) translateY(-10%);
            flex-wrap: wrap;
        }
        @media (min-width:600px) and (max-width:1025px) {
            transform: scale(.8);
        }
        .subClients:nth-child(1){
            .left{
                span{
                    filter: invert(black);
                    svg{
                        width: 60px;
                        height: 60px;
                        fill: #454545;
                    }
                }
            }
            .right{
                h5{
                    content: '100 Day Return';
                }
            }
        }
        .subClients:nth-child(2){
            .left{
                span{
                    svg{
                        width: 60px;
                        height: 60px;
                        fill: #454545;
                    }
                }
            }
            .right{
                h5{
                    content: '100 Day Return';
                }
            }
        }
        .subClients:nth-child(3){
            .left{
                span{
                    svg{
                        width: 60px;
                        height: 60px;
                        stroke: #454545;
                    }
                }
            }
            .right{
                h5{
                    content: '100 Day Return';
                }
            }
        }
    }
}