.subClients {
  min-width: 270px;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (min-width:1024px) {
    min-width: 350px;
    margin: 1rem;
    height: 100px;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .left {
    width: 30%;
    height: 100%;
  }
  .right {
    width: 70%;
    height: 100%;

    * {
      margin: 0;
      padding: 0;
    }

    h5 {
      width: 100%;
      text-align: start;
      font-size: 1rem;
      padding-bottom: 10px;
      padding-left: 30px;
    }
    p {
      font-size: 0.5rem;
      text-align: justify;
    }
  }
}
